.table {
  display: flex;
  flex-direction: column;

  position: relative;

  margin-top: 60px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.cell {
  flex: 1;
  border: 1px solid black;
}
